<div class='row mt-2'>
  <div class="col-lg-12">
    <div class="card">
      <div class="card-header">
        <i class="fa fa-align-justify"></i> Users Table
      </div>
      <div class="card-body">
        <div class=table-responsive>
        <table class="table table-bordered table-striped table-sm">
          <thead>

            <tr>
              <th>Sr#</th>
              <th>Email</th>
              <th>Phone</th>


            </tr>
          </thead>
          <tbody>

<tr>
<td>1</td>
<td>AbdulrehmanKhalid59@gmail.com</td>
<td>03154666755</td>


</tr>

          </tbody>
        </table>
      </div>


      </div>
    </div>
  </div>
</div>
