<div class="container-fluid">
  <div class='row'>
    <div class='col-md-2 col-sm-8 ContantSection'  >
    <div class='row' *ngFor='let a of array' style='padding: 10px 0px 10px 0px; background-color: blueviolet;'>
       <div class='col-md-5'>
         <img src="assets/img/avatars/3.jpg" style="border-radius: 30px;" />
       </div>
       <div class='col-md-7'>
         {{a}}
       </div>
    </div>
    </div>

    <div class='col-md-8 col-sm-4 ContantSection'>
    <div class='row' class='chatSection'>
      <div class='col-md-12'></div>
    </div>

    <div class='row' class='sendmessage'>
      <div class='col-md-12'></div>
    </div>

    </div>
  </div>
</div>
